:root{
    --header-color: rgba(69, 142, 191, .2);
    --footer-color: rgba(46, 95, 128, 1);
}
.profile-main-container{
    align-items: center;
}
.profile-main-container .profile-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.grid-container{
    margin: auto;
}
.jobs-main-container{
    display: grid;
    grid-template-columns: 1fr;
}
h3{
    border-bottom: 1px solid var(--footer-color);
    text-align: center;
}
.courses-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.jobs-container{
    text-align: center;
    margin: auto;
    border-bottom: 1px dotted var(--footer-color);
}
.courses-container{
    background-color: var(--header-color);
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--footer-color);
    padding: 15px 0;
    margin: 5px;
}
@media (max-width: 900px){
    .courses-main-container{
    grid-template-columns: 1fr;
    }
}